:root{
    --primary-bg: #f0ebd8;
    --secondary-bg: #f5f1e1ec;
    --primary-color:  #0d1321;
    --secondary-color: #3e5c76;
    /* --icon-color: var(--secondary-color); */
    --scrollbar: #5c7796b7;
    --scrollbar-hover: #3e5c76;
    --primary-border: #b3b5b66e;
    --dot: #b3b5b66e;
    --mobile-menu-shadow: rgba(28, 48, 73, 0.164);
    --mobile-menu-border: rgba(13, 19, 33, 0.1);
    --hero-text-subtitle: #1d2d44;
    --hero-img-border: #3e5c7634;
    --hero-img-shadow: rgba(28, 48, 73, 0.164);
    --skill-shadow: rgba(0, 0, 0, 0.08);
    --timeline-project-color: #1d2d44;
    --social-links-color: #2f4457;
    --project-card-shadow: rgba(0, 0, 0, 0.05);
    --project-card-shadow-hover: rgba(0, 0, 0, 0.1);

}
body.dark{
    --primary-bg: #161614;
    --secondary-bg: #141414e1;
    --primary-color:  #cacfd3;
    --secondary-color: #6899c4;
    /* --icon-color: var(--secondary-color); */
    --scrollbar: #5e5e5eb7;
    --scrollbar-hover: #596068;
    --primary-border: #a3a3a342;
    --dot: #b3b5b61e;
    --mobile-menu-shadow: rgba(84, 93, 105, 0.164);
    --mobile-menu-border: rgba(93, 99, 114, 0.274);
    --hero-text-subtitle: #d5dee2ec;
    --hero-img-border: #6d778086;
    --hero-img-shadow: rgba(87, 88, 90, 0.123);
    --skill-shadow: rgba(61, 61, 61, 0.158);
    --timeline-project-color: #a3b4cc;
    --social-links-color: #51718f;
    --project-card-shadow: rgba(41, 41, 41, 0.281);
    --project-card-shadow-hover: rgba(66, 66, 66, 0.253);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(32, 110, 77, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
    overflow-x: none !important;
}

/* --- Utility Classes --- */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    overflow-x: hidden;
}

hr {
    border: none;
    background: transparent;
    height: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-color);
    line-height: 1.6;
    overflow-x: hidden;
    background-image: radial-gradient(var(--dot) 1px, transparent 1px);
    background-size: 20px 20px;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}

body h2 {
    color: var(--primary-color);
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    position: relative;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 3px;
    background-color: var(--secondary-color);
}

/* Header & Navigation */
.header {
    background-color: var(--primary-bg);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--primary-border);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 70px;
    padding: 0 2rem;
    position: relative;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--secondary-color);
}

.nav-links a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    padding: 0px;
    width: 40px;
    height: 40px;
    z-index: 1001;
}

.hamburger span {
    border-radius: 10px;
    width: 24px;
    height: 3.5px;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    transform-origin: center;
    margin: 2px 0;
}
.hamburger span:nth-child(2){
    width: 20px;
}
.hamburger span:nth-child(3){
    width: 16px;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 1rem;
    width: 180px;
    background-color: var(--primary-bg);
    box-shadow: 0 4px 15px var(--mobile-menu-shadow);
    border-radius: 8px;
    overflow: hidden;
    z-index: 1000;
}

.mobile-menu.active {
    display: block;
    animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    border-bottom: 1px solid var(--mobile-menu-border);
}

.mobile-menu li:last-child {
    border-bottom: none;
}

.mobile-menu a {
    display: block;
    padding: 12px 20px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 550;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.mobile-menu a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-bg);
}

/* Hero */
.hero {
    padding-top: 100px;
    min-height: 85vh;
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero-text .subtitle {
    font-size: 1.2rem;
    color: var(--hero-text-subtitle);
    margin: 0.5rem 1rem 2rem 0rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-image img {
    max-height: 340px;
    max-width: 320px;
    border-radius: 50%;
    border: 5px solid var(--hero-img-border);
    box-shadow: 0 10px 30px var(--hero-img-shadow);
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.8rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: var(--primary-bg);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--secondary-color);
    transform: translateY(-2px);
}

.btn-secondary {
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-bg);
    transform: translateY(-2px);
}

/* About Section */
.about-section p {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
}

/* Skills Section */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
}

.skill-item {
    background-color: var(--secondary-bg);
    border: 1px solid var(--primary-border);
    border-radius: 8px;
    padding: 1.2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--skill-shadow);
}

.skill-item i {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
}

.skills-section {
    padding-top: 2rem;
}

/* Experience Section */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: var(--primary-border);
    top: 0;
    bottom: 0;
    left: 20px;
}

.timeline-item {
    padding: 1rem 0 2rem 50px;
    position: relative;
}

.timeline-dot {
    position: absolute;
    left: 13px;
    top: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--secondary-color);
    border: 3px solid var(--primary-bg);
    z-index: 1;
}

.timeline-content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.timeline-content .company {
    font-style: italic;
    color: var(--timeline-project-color);
    margin-bottom: 0.5rem;
}

.timeline-content ul {
    list-style-type: disc;
    padding-left: 20px;
}

.experience-section {
    padding-top: 2rem;
}

/* Project Section */
.projects-section {
    padding-top: 2rem;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: clamp(2rem, 5vw, 2rem);
}

.project-card {
    background: var(--secondary-bg);
    border: 1px solid var(--primary-border);
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    box-shadow: 0 4px 6px var(--project-card-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px var(--project-card-shadow-hover);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card h3 {
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem 0.5rem;
}
.project-card h3:first-child {
    margin-top: 10px;
}
.project-card p {
    padding: 0 1.5rem;
    color: var(--timeline-project-color);
}

.project-links {
    padding: 0.5rem 1.5rem 1.5rem;
    display: flex;
    gap: 1rem;
}

.project-links a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

/* Contact Section */
.contact-section {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.contact-section p {
    max-width: 600px;
    margin: 0 auto 2rem;
    font-size: 1.1rem;
}

.contact-info p {
    margin-bottom: 20px;
}

.contact-info a {
    text-decoration: none;
    color: var(--secondary-color);
}

.contact-info i {
    color: var(--secondary-color);
    padding-left: 5px;
    padding-right: 5px;
}

.social-links {
    font-weight: lighter;
    gap: 20px;
    margin: 22px 0;
}

.social-links h2 {
    font-weight: 550;
}

.social-links a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 8px;
}

.social-links a:hover {
    color: var(--social-links-color);
}

/* Footer */
.footer {
    background-color: var(--secondary-bg);
    color: var(--primary-color);
    text-align: center;
    padding-top: 1.5rem;
    min-height: 70px;
    /* margin-top: 1.5rem; */
}
.footerpadding{
    padding-top: 1.5rem;
}
/* --- Fade-in Animation (Parallax) --- */
section>.container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section>.container.visible {
    opacity: 1;
    transform: translateY(0);
}



/* In template1/style.css */
.skill-item .custom-skill-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    align-items: center;
    margin-bottom: 0.5rem;
    object-fit: contain;
}